package view;

templ EmpatyData(title, helperTitle string) {
	<div class="h-screen flex flex-col justify-center items-center gap-6">
		<img src="../public/images/empaty-data.png"/>
		<h2 class="text-2xl font-bold">There is nothing here</h2>
		<p class="text-wild-blue-yonder-600 text-xs font-medium">
			{ title }
			<br/>
			{ helperTitle }
		</p>
	</div>
}
