package view

templ Index() {
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/htmx.org@1.9.6"></script>
	</head>
	<body>
		<main class="container">
			<p class="bg-red-800">hello world</p>
		</main>
		<p>o</p>
	</body>
}
