package view

templ Index() {
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="../dist/output.css" rel="stylesheet"/>
		<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
	</head>
	<body>
		<main class="">
			@Sidebar()
		</main>
		<script>
          lucide.createIcons();
        </script>
	</body>
}
